@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f2e8d5;
  font-family: "Open Sans Hebrew", serif;
}

.main {
  width: 80%;
  background: white;
  /* height: 80vh; */
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  margin: 0 auto;
  border-radius: 25px;
  padding: 4vh;
  box-shadow: 0 0 5px #e2e2e2;
  margin-top: 5vh;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  color: #666666;
  text-decoration: none;
  margin-left: 2vh;
}

a:hover {
  color: #e5582c;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5vh;
}

.sub {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1vh;
}

section {
  margin-top: 5vh;
}

h1 {
  color: #e5582c;
  margin: unset;
}

h3 {
  margin: unset;
}

.worldmap {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 10;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 400px;
  border: 1px solid #e2e2e2;
}

.active {
  border: 2px solid #e5582c;
  border-radius: 10px;
  padding: 0.5vh;
}

iframe {
  width: 100%;
  height: 60%;
  border: unset;
}

.page {
  background: white !important;
}